<h1>Amortization schedule generator</h1>


<%= link_to new_detail_two_path do %>
  <%= content_tag :span, "Part 2 (with different payment for first month)", :class => "home-link" %>
<% end %>
<p>  </p>
<%= link_to new_detail_path do %>
  <%= content_tag :span, "Part 3 (with same payment for all months)", :class => "home-link" %>
<% end %>
